* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

/* 
1.Vị trí
2.kích thước (width,height)
3.Màu sắc
4.Kiểu dáng (font chữ,hình dáng....)
*/
html {
	scroll-behavior: smooth;
	/* hiển thị màn hình cuộn lên khi ta chuyển địa chỉ */
	font-family: sans-serif;
}

/* common */
.row {
	margin-left: -0.5em;
	margin-right: -0.5em;
}

.mt-8 {
	margin-top: 0.5em;
}

.mt-16 {
	margin-top: 1em !important;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

.col-full {
	width: 100%;
}

.col {
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.col-half {
	width: 50%;
}

.clean {
	clear: both;
}

.text-white {
	color: #fff !important;
}

/* main */
.main {}

/* Dùng làm class chung cho những văn bản cần chữ trắng
-Cách dùng là "class cần chữ trắng"khoảng trắng"text-white"
Vd:class="section text-white" */
#header {
	height: 2.875em;
	background: #000;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

.nav,
.nav>li {
	display: inline-block;
}

.nav>li:hover>a {
	background: #ccc;
	color: black;
}

.nav li a {
	text-decoration: none;
	line-height: 2.875em;
	padding: 0 1.75em;
	display: block;
}



.nav .subnav {
	position: absolute;
	background-color: #fff;
	display: none;
	list-style: none;
	box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.3);
}

.nav .subnav a {
	color: #000;
	padding: 0 0.75em;
	line-height: 2.375em;
	min-width: 10em;
}

.nav .subnav li:hover a {
	background: #ccc;
	display: block;
}

.nav>li>a {
	color: #fff;
	text-transform: uppercase;
}

.nav li:hover .subnav {
	display: block;
}

.nav .nav-icon {
	font-size: 0.875em;
}

#header #menu-icon-btn,
#header .search {
	float: right;
}

#header #menu-icon-btn .menu-icon {
	position: absolute;
	right: 0;
	top: 0;
}

#header #menu-icon-btn .menu-icon,
#header .search .search-icon {
	line-height: 2.875em;
	color: #fff;
	padding: 0 1.3125em;
}

#header #menu-icon-btn:hover i {
	background-color: #ccc;
	color: #000;
	display: block;
}

#header .search:hover i {
	background-color: #f00;
	display: block;
	cursor: grab;
}

.slider {
	margin-top: 2.875em;
	padding-top: 50%;
	background: url(./image/nuiphusi.jpg) top center / cover no-repeat;
	position: relative;
}

.text {
	position: absolute;
	bottom: 1.875em;
	/* left: 50%;
	transform: translateX(-50%); */
	width: 100%;
	text-align: center;
	color: #333;
}

.text-heading {
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.1875em #0f0;
	color: #00f;
}

.text-bottom {
	font-weight: 400;
	margin-top: 1.25em;
	text-shadow: 0.1em 0.1em 0.1875em #0f0;
}

.content .content-section {
	width: 50em;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 4em 0;
	padding-left: 1em;
	padding-right: 1em;
}

.section-heading {
	text-align: center;
	font-size: 1.875em;
	font-weight: 500;
	letter-spacing: 0.1875em;
}

.section-sub-heading {
	text-align: center;
	font-size: 0.9375em;
	margin: 0.9375em 0;
	font-style: italic;
	opacity: 0.6;
	/* Độ bóng của chữ */

}

.about-text {
	text-align: justify;
	/* Căn đều hai bên */
	line-height: 1.4;
}

.content .member-list {
	margin-top: 3em;
	overflow: hidden;
}

.content .member-item {
	float: left;
	width: 33.3333333%;
	text-align: center;

}

.content .member-name {
	font-size: 0.9375em;
	font-family: sans-serif;
	margin-bottom: 0.9375em;
}

.content .member-img {
	width: 9.625em;
	height: 9.625em;
	border-radius: 0.25em;
}

.content .tour-section {
	background: #000;
}

.content .tickets-list {
	background-color: #fff;
	margin-top: 2.5em;
	list-style: none;
}

.tickets-list li {
	color: #757575;
	font-size: 0.9375em;
	padding: 2.5em 1em;
	border-bottom: 0.0625em solid #ddd;
}

.tickets-list .sold-out {
	background: #f44336;
	color: white;
	padding: 0.1875em 0.25em;
	margin-left: 1em;
}

.tickets-list .quanlity {
	float: right;
	width: 1.5em;
	height: 1.375em;
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: 1.375em;
	border-radius: 60%;
	margin-top: -0.1875em;
}

/* Places */
.places-list {
	margin: 2em --0.5em 0;
	/* margin âm giúp mình kéo các mục theo ý mình */
	/* overflow: hidden; Xử lí khi dùng float*/
	padding-bottom: 3em;
}

.places-item {
	float: left;
	width: 33.3333%;
	padding: 0 0.5em;
}

.places-img {
	width: 100%;
	display: block;
	height: 18.75em;

}

.places-img:hover {
	opacity: 0.6;
}

.places-content {
	padding: 1em;
	background-color: white;
	font-size: 0.9375em;
}

.places-heading {
	font-size: 0.9375em;
	font-weight: 600;
}

.places-time {
	margin: 1em 0;
	color: #757575;
}

.places-desc {
	margin: 1em 0;
	line-height: 1.4;
}

.places-buy-btn {
	background-color: #000;
	color: #fff;
	text-decoration: none;
	padding: 0.5em 1em;
	display: inline-block;
}

.places-buy-btn:hover {
	color: #000;
	background-color: #ccc;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.modal.open {
	display: flex;
}

.modal-container {
	background-color: #fff;
	width: 56.25em;
	max-width: calc(100% - 2em);
	min-height: 12.5em;
	position: relative;
	/* hiệu ứng hiện form buytickets từ trên xuống */
	animation: modalFadeIn ease .5s;
}

.modal-header {
	background: #009688;
	height: 8.125em;
	align-items: center;
	justify-content: center;
	display: flex;
	color: #fff;
	font-size: 1.875em;
}

.modal-heading-icon {
	margin-right: 1em;
}

.modal-close-icon {
	position: absolute;
	right: 0;
	padding: 0.5em 1em;
	color: #fff;
	cursor: pointer;
	font-weight: bold !important;
}

.modal-close-icon:hover {
	background-color: #ccc;
	color: #000;
}

.modal-label {
	display: block;
	font-size: 0.9375em;
	margin: 1em 0;
}

.modal-body {
	padding: 0 0.9375em;
}

.modal-input {
	border: 0.0625em solid #ccc;
	width: 100%;
	padding: 0.5em;
	font-size: 0.9375em;
}

.buy-tickets {
	display: block;
	text-align: center;
	padding: 1em;
	margin: 1em 0;
	background-color: #009688;
	color: #fff;
}

.buy-tickets:hover {
	background-color: #ccc;
	color: #000;
}

.modal-footer {
	padding: 1em;

	text-align: right;
}

.modal-footer a {
	color: #2196F3;
}

/* contact from */
.contact-content {
	margin-top: 3em;
}

.contact-info {
	font-size: 1.25em;
	line-height: 1.4;
}

.contact-info i[class*="ti-"] {
	width: 1.875em;
	display: inline-block;
}

.contact-form {
	font-size: 0.9375em;
}

.contact-form .form-coltrol {

	padding: 0.625em;
	border: 0.0625em solid #ccc;
	width: 100%;
}

.form-submit {
	background-color: #000;
	color: #fff;
	border: 0.0625em solid #ccc;
	padding: 0.5em 1em;
	float: right;
}

.form-submit:hover {
	background-color: #ccc;
	color: #000;
	cursor: pointer;
}

.footer {
	padding: 4em 1em;
	text-align: center;
	background-color: #f1f1f1;
}

.socials-list {
	text-align: center;
	font-size: 1.5em;

}

.socials-list a {
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none;
}

.socials-list a:hover {
	opacity: 0.5;
	cursor: pointer;
}

.copyright {
	font-size: 0.9375em;
	margin-top: 1em;
}

.copyright a {
	color: #000;
}

.map {
	max-width: 100%;
}

/* hiệu ứng hiện form buy tickets */
@keyframes modalFadeIn {
	from {
		transform: translateY(-18.75em);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

/* thay vì chúng ta dùng nhiều class riêng thì t nên tìm điểm 
chung về hàng và cột để làm những class chung col và row */

/* 
	PC:>=1024px
	Tablet:>=740px && <1024px
	Phone: <740px
*/

/* PC */
@media (min-width: 64em) {
	#header #menu-icon-btn {
		display: none;
	}

	.mobile-map {
		display: none;
	}
}

/* Tablet */
@media (min-width: 46.25em) and (max-width:63.9375em) {
	#header #menu-icon-btn {
		display: none;
	}

	.nav .subnav a {
		padding: 0.3125em 0.75em;
	}

	.mobile-map {
		display: none;
	}

	.socials-list .copyright,
	.socials-list {
		font-size: 3.5em;
	}

	.socials-list a {
		margin: 0 1.75em;
	}

	.copyright a {
		padding: 0.5em 0;
		display: inline-block;
	}

	.copyright {
		font-size: 3.5em;

	}

	.contact-info {
		line-height: 2;
	}
}

/* Phone */
@media (max-width: 46.1875em) {
	.mobile-col-full {
		width: 100%;
	}

	#header {
		overflow: hidden;
	}

	.nav .subnav a {
		padding: 0.3125em 0.75em;
	}

	.mobile-mt-8 {
		margin-top: 0.5em;
	}

	.places-buy-btn {
		text-align: center;
	}

	.nav,
	.nav>li {
		display: block;
	}

	#header .search {
		display: none;
	}

	.nav>li:first-child {
		display: inline-block;
	}

	#header .subnav {
		position: initial;
		background-color: #555;

	}

	#header .subnav a {
		color: #fff;
		padding: 0 2.5em;
	}

	.member-list .member-item {
		margin-top: 2em;
		width: 100%;
	}

	.places-item {
		width: 100%;
		margin-top: 1em;
	}

	.member-list .member-item .member-img {
		width: 60%;
		height: auto;
	}

	.copyright a {
		padding: 0.5em 0;
		display: inline-block;
	}

	.copyright {
		font-size: 2.375em;

	}

	.socials-list {
		font-size: 3em;
	}

	.socials-list a {
		margin: 0 0.125em;
	}
}